
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Админ. Все пользователи</title>
</head>
<body>
<h2>Привет, Админ. Вот, все пользователи:</h2>
<div>

    <hr/>
    <table>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Электронная почта</th>
            <th>Роль</th>
        </tr>

        <tr th:each="user : ${userSet}">
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getName()}">Имя</td>
            <td th:text="${user.getLastName()}">Фамилия</td>
            <td th:text="${user.getAge()}">Возраст</td>
            <td th:text="${user.getEmail()}">Электронная почта</td>
            <td th:text="${user.getRoles()}">Роль</td>

            <td>
                <form th:action="@{/admin/users/{id}/edit(id=${user.id})}" th:object="${user}">
                    <button style="background: mintcream" type="submit">Изменить</button>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/users/{id}/delete(id=${user.id})}">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <button style="background: moccasin" type="submit" value="Delete">Удалить</button>
                </form>
            </td>
        </tr>
    </table>
    <br>
    <form th:action="@{/admin/users/add}">
        <button style="background: lightgray" type="submit">Добавить нового пользователя</button>
    </form>
    <br>
    <form th:action="@{/logout}" method="post">
        <input style="background: lightgray" type="submit" value="Выйти">
    </form>
</div>

</body>
</html>