
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <h2>Привет, друг! Ниже информация о тебе:</h2>
</head>
<body>

<table border="2">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Электронная почта</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td th:utext="${user.getId()}">id</td>
        <td th:utext="${user.getName()}">Имя</td>
        <td th:utext="${user.getLastName()}">Фамилия</td>
        <td th:utext="${user.getEmail()}">Электронная почта</td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>